:root{
    --hero : #1F2937;
    --heroMainText : #F9FAF8;
    --heroSecondryText : #E5E7EB;
    --heroLogo : #F9FAF8;
    
    --buttonColor : #3882F6;
    --headerInformation : #1F2937;
    --quoteBG : #E5E7EB;
    --quote : #1F2937;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* nav start here */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--hero);
    padding: 0 50px 0 50px;
}

.nav h1{
    font-size: 24px;
    color: var(--heroLogo);
}

.nav .right ul{
    list-style: none;
    display: flex;
    color: var(--heroSecondryText);
}

.nav .right li{
    margin: 0 15px;
    cursor: pointer;
}

/* header start here */
.header{
    height: 400px;
    background-color: var(--hero);
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 50px;
}

.header .left h1{
    color: var(--heroMainText);
    font-size: 48px;
    font-weight: bolder;
}

.header .left p{
    color: var(--heroSecondryText);
    font-size: 18px;
}

.header .left button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 0;
    background-color: var(--buttonColor);
    color: var(--heroLogo);
    font-weight: bold;
}

.header img{
    width: 500px;
    height: 200px;
    object-fit: cover;
    margin: 50px 0;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.in-title{
    margin: 30px auto;
    font-size: 36px;
    font-weight: bolder;
    color: var(--quote);
}

.in-cards{
    display: flex;
}

.card{
    text-align: center;
    margin: 20px 40px;
}

.card img{
    width: 200px;
    height: 100px;
    object-fit: contain;
}

.quote{
    background-color: var(--quoteBG);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote p{
    font-size: 36px;
    color: var(--quote);
    font-style: italic;
}

.god{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

/* sign up start here */
.sign-up{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-wrapper{
    width: 99%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--buttonColor);
    padding: 8px;
    border-radius: 10px;
}

.sign-wrapper .left h1{
    color: var(--heroLogo);
}

.sign-wrapper .left p{
    color: var(--heroLogo);
}

.sign-wrapper .right button{
    width: 90px;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    border: 2px solid white;
    color: white;
    background-color: var(--buttonColor);
    font-weight: bold;
}

/* footer start here */
footer{
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: var(--hero);
    color: white;
    align-items: center;
}